<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floyd.ecigmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- android:usesCleartextTraffic="true" is fo calling localhost API -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AromeActivity"
            android:label="@string/menu_arome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.BoosterActivity"
            android:label="@string/menu_booster"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AdminPreparationActivity"
            android:label="@string/menu_admin_preparation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AdminAromeActivity"
            android:label="@string/menu_admin_arome"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AdminBoosterActivity"
            android:label="@string/menu_admin_booster"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>